[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
todo = "*"
django-crispy-forms = "*"
django-multiselectfield = "*"
django-annoying = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
