
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block titolo %}
    Login
{% endblock %}

{% block contenuto %}
    <br>
    <div class="container" style="text-align: center">

        <p class="h3">Inserire username e password per effettuare il login</p>

        <form method='post'>{%  csrf_token %}

            {{ form|crispy}}
            <br>

            <input type='submit' value='Login!'>
        </form>

        <a href="{% url 'admin:index' %}"><button type="button" class="btn btn-warning" style="text-align:center">
            Clicca qui per andare alla pagina di login per admin</button></a>



    </div>

{% endblock %}
</html>