<html lang="en">

{% extends 'base.html' %}

{% block titolo %}
    Battute di {{ nickname }}
{% endblock %}


{% block contenuto %}
    <div class="container">
        <h1> <div style="text-align: center;"> Battute di {{ nickname }}!</div></h1>
        <p class="lead" style="text-align:center">
            Ecco le sue spassosissime battute!
        </p>
        {% if user.is_authenticated %}
            <div style="text-align:right">
                <a href='{% url 'logout' %}'>
                    <button type="button" class="btn btn-danger">
                        Logout
                    </button>
                </a>
                         </div>


        {% else %}
            <div style="text-align:right">
            Non hai ancora un account?
            <a href="{% url  "registrazione"%}">
                    <button type="button" class="btn btn-primary btn-sm">
                        Registrati!
                    </button>
                </a>
                Hai già un account?
            <a href="{% url  "login"%}">
                    <button type="button" class="btn btn-primary btn-sm">
                        Login
                    </button>
                </a>
            </div>
            </div>


        {% endif %}
    <br>
    <div style="text-align:center">
        {% for b in object_list %}

            <div class="card">
                <h4 class="card-header"> <a href="{% url "profilo" pk=b.utente_id %}"> {{ b.utente }}  </a> </h4>
                <div class="card-body">
                    <h6 class="card-title" > <small>{{ b.tipo }}</small>  </h6>
                    <p class="card-text"> {{ b.testo }} </p>
                    {% if user.is_authenticated %}
                        <a href="{% url "aggiungi_recensione" pk=b.id %}" class="btn btn-primary">Recensisci!</a>
                    {% else %}
                        <p class="card-text" style="color:red"> Non puoi recensire perché non hai effettuato il login </p>
                    {% endif %}
                    Media recensioni: {{ b.calcola_media}}
                </div>

            </div>

            <br>



        {%  endfor %}
    </div>
{% endblock %}


</html>