<html lang="en">
{% extends 'base.html' %}

{% block titolo %}
    Errore ricerca
{% endblock %}


{% block contenuto %}
    <br>
    <div class="container">
        <div style="text-align: center">
            <p class="h1" style="color:red"> Il profilo cercato non esiste! </p>
            <a href="{% url 'home' %}"><button type="button" class="btn btn-primary btn-lg">Torna alla home</button></a>
            <a href="{% url 'cerca_profilo' %}"><button type="button" class="btn btn-primary btn-lg"> Riprova </button></a>
        </div>

    </div>
{% endblock %}
</html>