<html lang="en">

{%  extends 'base.html' %}

{% block titolo %}
    Feed di {{ user.username }}
{% endblock %}

{% block contenuto %}

    <div class="container">
        <h1> <div style="text-align: center;"> Benvenuto su GRASSERISATE {% if user.is_authenticated %} , {{ user.username }}{% endif %}!</div></h1>
        <p class="lead" style="text-align:center">
            Ecco il tuo feed con le battute di chi segui!
                {% if user.is_authenticated %}
            <div style="text-align:center">
                <a href="{% url  "aggiungi_battuta"%}">
                    <button type="button" class="btn btn-primary">
                        Aggiungi una battuta!
                    </button>
                </a>
                <a href="{% url  "profilo" pk=user.id %}">
                    <button type="button" class="btn btn-info">
                        Vai al tuo profilo!
                    </button>
                </a>
                <a href="{% url  "filtro"%}">
                    <button type="button" class="btn btn-secondary">
                        Filtra
                    </button>
                </a>
                <a href="{% url  "cerca_profilo" %}">
                    <button type="button" class="btn btn-secondary">
                        Cerca profilo
                    </button>
                </a>

                <a href='{% url 'logout' %}'>
                    <button type="button" class="btn btn-danger">
                        Logout
                    </button>
                </a>
            </div>
        {% endif %}
        <br>
        <div class="container text-center">
            <div class="row">
                {% if quanti >= 1 %}
                    <div class="col">
                        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header" style="background-color:gold">Il più divertente</div>
                            <div class="card-body">
                                <h5 class="card-title"> <a href = {% url 'profilo' pk=primo.id %}>{{ primo.username }}</a></h5>
                                <p class="card-text"> Media recensioni: {{ primamedia }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if quanti >= 2 %}
                    <div class="col">
                        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header" style="background-color:silver">Il secondo più divertente</div>
                            <div class="card-body">
                                <h5 class="card-title"> <a href = {% url 'profilo' pk=secondo.id %}>{{ secondo.username }}</a></h5>
                                <p class="card-text"> Media recensioni: {{ secondamedia }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if quanti >= 3 %}
                    <div class="col">
                        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header" style="background-color:saddlebrown">Il terzo più divertente</div>
                            <div class="card-body">
                                <h5 class="card-title"> <a href = {% url 'profilo' pk=terzo.id %}>{{ terzo.username }}</a></h5>
                                <p class="card-text"> Media recensioni: {{ terzamedia }}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                {% endif %}

    {% if test %}
        <p class="h5"> <b>Profilo Suggerito:</b> <a href="{% url 'profilo' pk=migliore_following.id %}">{{ migliore_following }}</a></p>
    {% endif %}

        <div style="text-align:center">
            {% for b in object_list %}

                <div class="card border-warning mb-3">
                    <h4 class="card-header" style="background-color: lightyellow"> <a href="{% url "profilo" pk=b.utente_id %}"> {{ b.utente }}  </a> </h4>
                    <div class="card-body">
                        <h6 class="card-title" > <small>{{ b.tipo }}</small>  </h6>
                        <p class="card-text"> {{ b.testo }} </p>
                        {% if user.is_authenticated %}
                            <a href="{% url "aggiungi_recensione" pk=b.id %}" class="btn btn-primary">Recensisci!</a>
                        {% else %}
                            <p class="card-text" style="color:red"> Non puoi recensire perchè non hai effettuato il login </p>
                        {% endif %}
                        Media recensioni: {{ b.calcola_media}}
                    </div>

                </div>

                <br>



            {%  endfor %}
        </div>
    </div>

{% endblock %}


</html>