<html lang="en">

{% extends 'base.html' %}

{% block titolo %}
    {{ user.username }}
{% endblock %}

{% block contenuto %}
    <div class="container">
        <p class="h1" style="text-align:center"> Profilo di {{ object.username }}</p>

        <table class="table" style="text-align: center">
            <tbody>
            <tr>
                <th>Email</th>
                <th> <p class="h6" style="text-align:center">{{ object.email }} </p></th>
            </tr>
            <tr>
                <th>Nome</th>
                <th> <p class="h6" style="text-align:center">{{ object.first_name }} </p></th>
            </tr>
            <tr>
                <th>Nome</th>
                <th> <p class="h6" style="text-align:center">{{ object.first_name }}</p></th>
            </tr>
            <tr>
                <th>Bio</th>
                <th> <p class="h6" style="text-align:center">{{ boh.bio}}</p></th>
            </tr>
            </tbody>
        </table>
    </div>





{% endblock %}
</html>